body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

li {
    list-style: none;
    margin: 5% 5% 5% 6%;
}

.main-wrapper {
    max-width: 98vw;
    max-height: 98vh;
    display: grid;
    grid-template: 1fr 8fr / 1fr 4fr;
}

button:hover, img:hover, li:hover,
 .user-buttons>button:hover, .user-welcome img:hover{
    cursor: pointer;
    color: gold;
    background-color: palevioletred;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #0f766e;
    display: grid;
    grid-template: 1fr 1.75fr 1.5fr 4fr/ 100%;
    align-items: center;
    color: black;
    font-weight: 700;
    gap: 2em;
}

.side-group1, .side-group2>div, .side-group3>div {
    display: flex;
    align-items: center;
    margin: 5% 5% 5% 5%;
}

.side-group1>li {
    margin: 0 0 0em 6%;
    font-size: 130%;
}

img {
    height: 2em;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: #f0fdfa;
    display: grid;
    grid-template: 1fr 4fr / 2fr 1fr;
    align-items: center;
    height: 11em;
}

.header>* {
    margin: 2% 4% 1% 4%;
}

.search-bar {
    display: flex;
}

.search-bar>input {
    width: 80%;
    border-radius: 1em;
    border: 1px solid black;
    background-color: #5eead4;
    height: 2em;
    align-self: flex-end;
    margin-left: 1.5em;
}

.search-bar>button, .user-info>button{
    border: none;
    background-color:  #5eead4;
    border-radius: .5em;
}

.user-info {
    font-size: 110%;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.user-info > * {
    margin: 0 1em 0 1em;
}

.user-welcome {
    display: grid;
    grid-template: 40% 60% / 1fr 5.5fr;
}

.small-welcome {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: .25em;
}

.big-welcome {
    font-weight: bolder;
    font-size: 150%;
    margin-top: .25em;
}

.user-buttons {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin-bottom: 6em;
    align-items: flex-end;
}

.user-buttons>button{
    padding: .5em 1.5em .5em 1.5em;
    border-radius: 2em;
    background-color: #5eead4;
    border: none;
    font-family: inherit;
    color: black;
    font-size: 1em;
    font-weight: 600;
    margin: 0 .5em 0 .5em;
    height: 2em;
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #5eead4;
    display: grid;
    grid-template: .2fr 2fr .2fr/ 2fr 1fr;
}

.user-welcome img{
    height: 70%;
    width: 70%;
    background-color: #5eead4;
    border-radius: 2em;
}

.user-welcome>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-row: span 2;
}

 h1, h2, h3 {
    color: black;
    font-size: 1.2em;
}

h1 {
    margin-left: 1em;
}

h2 {
    margin-left: 1.25em;
}

.project-gallery {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1.5fr 1.5fr;
    gap: 1.5em;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0em 1em 0em 1em;
}

.project-card {
    background-color: #f0fdfa;
    border-left: 8px solid gold;
    border-radius: 2%;
    display: flex;
    flex-flow: column wrap;
    padding: .25em;
}

h4, .project-card>p {
    margin-left: 16px;
    margin-top: .2em;
    margin-bottom: 0;
}

h4 {
    font-size: 115%;
}

h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.card-buttons{
    margin: auto .25em .25em 0;
    display: flex;
    justify-content: flex-end;
}

.card-buttons>button {
    border: none;
    background: transparent;
}

.news-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template: 1fr .15fr 1fr / 1fr;
    margin: 0em 2.5em 0em 1.5em;
}

h5 {
    margin-top: 1em;
    margin-bottom: -.5em;
    font-size: 103%;
    font-weight: 550;
}

.announcements>*{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
} 

.announcements, .trending {
    background-color:#f0fdfa;
    border-radius: 2%;
}

h3 {
    margin-top: auto;
    margin-bottom: .5em;
}

.trending {
    display: flex;
    flex-direction: column;
}

.trender {
    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;
    height: 25%;
    width: 90%;
    align-items: center;
}

.trender>img {
    grid-row: span 2;
    grid-column: 1 / 2;
    margin-left: 1em;
    margin-right: 1em;
    height: 3em;
}

.trender .handle {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-top: auto;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: 700;
}

.trender .trend-detail {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-bottom: auto;
    margin-top: 0;
    font-size: 80%;
    color: #0f766e;
}